/* GLOBAL */
body {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    background-color: #24282e;

    overflow-y: scroll !important;
    padding-right: 0 !important;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* SMART SCROLL */
.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all .3s ease-in-out;
}

/* NAVBAR */
.navbar {
    font-weight: bold;
    background: linear-gradient(90deg, #043443, #4a0954, #055176);
    background-size: 200% 200%;
    animation: gradient 5s ease-out infinite;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar .navbar-brand img {
    width: 200px;
}

.navbar .navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
}

.navbar .navbar-nav .nav-link:hover {
    border-bottom: 2px solid rgb(83, 35, 194);
}

.navbar .nav-link .balance,
.navbar .nav-link .profile-avatar {
    width: 30px;
    height: 30px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* NAVBAR DROPDOWN */
.nav-item.dropdown .dropdown-menu {
    min-width: 0;
    background: #3f4654;
    border: 1px solid rgb(83, 35, 194);
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    color: white;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background: #343a45;
}

.nav-item.dropdown .dropdown-menu .dropdown-item.active {
    background: rgb(83, 35, 194);
}

.nav-item.dropdown .dropdown-menu {
    left: auto;
    right: 0;
}

.nav-item .dropdown-menu .dropdown-divider {
    height: 5px;
    background: rgb(83, 35, 194);
}

.navbar .dropdown-toggle::after {
    transition: .5s;
}

.navbar .nav-item:hover .dropdown-toggle::after {
    transform: rotate(180deg);
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        margin-top: 0;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .5s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

/* WRAPPERS */
.wrapper {
    color: white;
    background: #2a2f36;
    padding: 20px;
    border-radius: 10px;
}

/* CONTAINERS */
/* --DISCIPLINE FILTER-- */
.discipline-filter {

}

.discipline {
    position: relative;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

.discipline.active {
    box-shadow: 0 10px 10px -5px #8800ff;
}

.discipline > img {
    border-radius: 10px;
    width: 100%;
}

.discipline .discipline-logo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.discipline .discipline-logo-overlay img {
    position: absolute;
}

.discipline[data-discipline="csgo"] .discipline-logo-overlay img {
    width: 40%;
    top: 35%;
    left: 30%;
}

.discipline[data-discipline="dota2"] .discipline-logo-overlay img {
    width: 60%;
    top: 40%;
    left: 20%;
}

.discipline[data-discipline="lol"] .discipline-logo-overlay img {
    width: 50%;
    top: 35%;
    left: 25%;
}

.discipline[data-discipline="valorant"] .discipline-logo-overlay img {
    width: 60%;
    top: 45%;
    left: 20%;
}

/* --ERROR CONTAINER-- */
.error.container img {
    width:100%;
    max-width: 600px;
}

/* --EVENTS CONTAINER-- */
.events .nav-tabs {
    border: none;
}

.events .nav-tabs .nav-link {
    color: #68666f;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #20232a;
    border: none;
    border-top: 2px solid transparent;
    transition: border-top-color 0.5s;
}

.events .nav-tabs .nav-link.active {
    color: white;
    border-top: 2px solid  #8800ff;
    background-color: #444455;
}

.events .nav-tabs .nav-link.active i {
    color:  #8800ff;
}

.event .team-left {
    border-radius: 0 0 0 5px;
}

.event .team-right {
    border-radius: 0 0 5px;
}

.left-winner,
.right-winner {
    position: relative;
}

.left-winner::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -10%;
    left: -10%;
    background-image: url("/resources/assets/interface/winner.png");
    background-size: 100% 100%;
    height: 30px;
    width:30px;
}

.right-winner::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -10%;
    right: -10%;
    background-image: url("/resources/assets/interface/winner.png");
    background-size: 100% 100%;
    height: 30px;
    width:30px;
}

.event .team,
.event .center {
    font-weight: bold;
    padding: 5px;
}

.event-info .team {
    background-color: #2f353d;
    transition: background-color 0.3s;
}
.event-info .center {
    background-color: rgba(47, 53, 61, 0.2);
}

.event-info .center .event-format {
    background-color: rgba(41, 67, 134, 0.4);
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

.event-info .team .odds {
    border-radius: 5px;
    padding:0 5px;
    background-color: #29864e;
}

.event-info .team-logo {
    background-color: rgba(41, 67, 134, 0.6);
    padding: 5px;
    border-radius: 5px;
}

.event-info .team-logo img {
    width: 100%;
    min-width: 30px;
    max-width: 70px;
}

.event-info .team:hover {
    cursor: pointer;
    background-color: rgba(41, 134, 75, 0.3);
}

.event .center .left-percent,
.event .center .right-percent {
    opacity: 0.6;
    font-size: 1.2rem;
}

.event .event-header {
    font-weight: bold;
    background-color: #492986;
    border-radius: 5px 5px 0 0;
}

.event-header .league-icon {
    max-width: 35px;
}

.live-blink {
    animation: blinkingLive 2s infinite ease-in;
}

@keyframes blinkingLive {
    0%   {opacity: 1;}
    25%  {opacity: 0.8;}
    50%  {opacity: 0.4;}
    75%  {opacity: 0.8;}
    100% {opacity: 1;}
}

.live-label, .upcoming-label {
    font-weight: bold;
    background-color: #444455;
}

.live-icon {
    width:50px;
    border-radius: 5px;
}

.live-label {
    border-radius: 0 0 5px 5px;
}

.upcoming-label {
    border-radius: 5px 5px 0 0;
}

.discipline-icon {
    border-radius: 5px;
    max-width: 30px;
}

@media all and (max-width: 576px) {
    .event {
        font-size: 0.7rem;
    }

    .event-info .team-logo img {
        max-width: 40px;
    }
}

@media all and (max-width: 768px) {
    .event {
        font-size: 0.8rem;
    }
}

.event-outcome {
    padding:5px;
    border-radius: 5px;
    border: 2px solid rgb(102, 24, 179);
}

/* --WRAPPER-CONTAINER --- */
.general-container {
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    min-height: 300px;
    background-color: #3e454f;
}

@media all and (max-width: 768px) {
    .general-container {
        font-size: 0.8rem;
    }
}

.general-container-header {
    padding: 10px;
    border-bottom: 5px solid #8800ff;
}

.custom-table-row {
    font-weight: bold;
    padding: 15px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.custom-table-row:nth-child(n):hover {
    background-color: rgba(0, 156, 142, 0.8);
    cursor: pointer;
}


.custom-table-row:nth-child(n + 1) {
    background-color: #2d3050;
}

.custom-table-row:nth-child(2n + 1) {
    background-color: #3f426c;
}

/* --USER TRANSACTIONS CONTAINER-- */
.transacion-type-icon {
    width: 20px
}

/* -- MY-BETS CONTAINER-- */
.mybets-container .discipline-icon-wrapper {
    padding-right: 20px;
    border-right: 3px solid #8800ff;
}

.mybets-container .event-info-wrapper {
    padding-bottom: 10px;
    border-bottom: 3px solid #8800ff;
}

.mybets-container .team {
    width: 50px;
}

/* --DEPOSIT/WITHDRAW CONTAINER-- */
#withdrawContainer,
#depositContainer {
    margin-top: 20px;
}

#withdrawContainer .card,
#depositContainer .card {
    box-shadow: 0px 0px 30px #6829aa;
}


.form-card .fa-cc-visa {
    color: #4997eb;

}
.form-card .fa-cc-mastercard {
    color: #ffb75f;
}
.form-card .fa-cc-amex {
    color: #EB4960;
}
.form-card .fa-cc-discover {
    color: #027878;
}


.page-content-wrapper-header {
    padding: 20px;
    box-shadow: 0px 35px 2px -35px lightgray
}

#menu-toggle {
    height: 40px;
}

.bar4 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}

.list-group .tabs {
    color: white;
}

#sidebar-wrapper {
    border-radius: 5px 0 0 5px;
    background-color: #3e454f;
    min-height: 100vh;
}

.flex-column #sidebar-wrapper {
    min-width: 250px;
    min-height: 0;
}

#sidebar-wrapper .sidebar-heading {
    color: #8800ff;
    text-align: center;
    font-weight: bold;
}

#page-content-wrapper {
    padding: 0 20px;
}

#page-content-wrapper .tab-content {
    min-height: 500px;
}

.list-group-item {
    background-color: #4e5061;
    border: none;
}

.list-group-item.active {
    background-color: #2a2f36 !important;
    color: #941ffc;
    font-weight: bold;
}

.list-group-item[disabled] {
    color: #a09b9b;
}

#page-content-wrapper {
    width: 100%
}

#wrapper.toggled #sidebar-wrapper {
    display: none;
}

@media all and (min-width: 768px) {
    .flex-column #sidebar-wrapper {
        max-width: 300px;
    }
}

.form-card input,
.form-card textarea {
    font-family: arial;
    border: none;
    border: 1px solid lightgrey;
    margin-bottom: 25px;
    margin-top: 2px;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

.pay-input-group.input-group input {
    height: 40px ;
    padding: 0 0 0 20px;
    border-radius: 0 5px 5px 0 !important;
}

.pay-input-group.input-group .input-group-text {
    border: none;
    background-color: #83d7b1;
}

.input-group input {
    z-index: unset !important;
    height: 70px;
    border-radius: 5px !important;
    padding-top: 30px;
    padding-left: 30px
}

.input-group label {
    position: absolute;
    height: 25px;
    line-height: 45px;
    font-size: 0.8rem;
    color: gray;
    font-weight: 100;
    padding-left: 30px
}

.form-card input:focus,
.form-card textarea:focus,
.pay-input-group.input-group input:focus,
.form-floating input:focus {
    box-shadow: 0px 0px 0px 2px #8346db !important;
}

input:focus + label {
    font-weight: 500;
    color: #ab7cfa;
}

/* --ACCOUNT SETTINGS CONTAINER-- */
.profile-info {
    border-radius: 5px;
    padding: 10px;
    width: auto;
    background-color: #6d8095;
}

.profile-info .profile-avatar {
    margin-bottom: 30px;
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}


.profile-info .profile-avatar img {
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
}

/* --ADMIN DASHBOARD CONTAINER-- */
.dashboard-card {
    background-color: #513e7f;
    border-radius: 10px;
    height: 150px;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0 0 5px 1px white;
}
.dashboard-card .circle {
    background-color: #a9acbb;
    border-radius: 50%;
    padding: 25px;
    box-shadow: 0 0 10px 2px #b43d88;
}

.circle .icon {
    width: 50px;
}

/* FOOTER */
footer {
    padding: 50px 0;
    color: #f0f9ff;
    background: linear-gradient(90deg, #043443, #4a0954, #055176);
    background-size: 200% 200%;
    animation: gradient 5s ease-out infinite;
}

footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

footer ul {
    padding: 0;
    list-style: none;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 0;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

footer ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    footer .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

footer .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    footer .item.text {
        margin-bottom: 0;
    }
}

footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

footer .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    footer .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

footer .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.7;
}

footer .item.social > a:hover {
    opacity: 0.9;
}

footer .copyright {
    text-align: center;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

/* BUTTONS */
.btn {
    font-weight: bold;
    border: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn.btn-primary {
    background: rgb(102, 24, 179);
}

.btn.btn-primary:hover {
    background: rgba(102, 24, 179, 0.75);
}

.btn.btn-primary:active {
    background: rgba(102, 24, 179, 0.3);
}

.btn.btn-secondary {
    background: rgba(165, 160, 182, 0.5);
}

.btn.btn-secondary:hover {
    background: rgba(130, 126, 144, 0.5);

}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary {
    background-color: #29864e;
    font-weight: bold;
}

/* INPUT FIELD */
.input-field {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(226, 212, 232, 0.8);
}

.input-field .input-wrapper {
    width: 100%;
    margin-right: 10px;
}

.custom-controls input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.custom-controls input:focus {
    color: white;
    box-shadow: none;
    background-color: #4e5061;
}

.custom-controls input {
    color: white;
    border: none;
    outline: none;
    background-color: #4e5061;
    width: 100%;
    padding-right: calc(1.5em + .75rem);
}

.custom-controls select:focus {
    color: white;
    box-shadow: none;
    background-color: #4e5061;
}

.custom-controls select {
    color: white;
    border: none;
    outline: none;
    background-color: #4e5061;
    width: 100%;
}

/* BOOTSTRAP SELECT */
.bootstrap-select {
    background: none;
    color: white !important;
}

.bootstrap-select .btn {
    background-color: #4e5061;
    font-weight: 500;
}

.bootstrap-select .dropdown-menu {
    background-color: #4e5061;
}

.bootstrap-select .bs-searchbox input {
    background-color: #2a2f36;
}

.bootstrap-select .dropdown-menu li a.selected {
    background-color: #645fa8;
}

.bootstrap-select .dropdown-menu li a:hover,
.bootstrap-select .no-results {
    background-color: #6b6b7d;
}

.bootstrap-select .filter-option,
.bootstrap-select .dropdown-menu,
.bootstrap-select .dropdown-menu li a,
.bootstrap-select > .dropdown-toggle:after {
    color: white;
}

/* CARD */
.card {
    color: white;
    border: none;
    border-radius: 15px;
    background: #2a2f36;
    box-shadow: 0px 0px 50px #413b92;
}

.card .card-header {
    border-radius: 15px;
    background: #4e5061;
    border-top: 5px solid #8800ff;
}

.card .card-header .close {
    color: white;
    font-size: 25px;
    transition: 0.5s;
}

.card .card-header .close:hover {
    transform: rotate(180deg);
}

/* ACCORDION*/
.accordion-body {
    background-color: #2a2f36;
}

.accordion-item {
    background-color: transparent;
}

.accordion-header .accordion-button::after {
    color: white;
}

.accordion-header .accordion-button {
    color: white;
    border: none;
    background-color: #4e5061;
}

/* MODALS GLOBAL */
.modal-open {
    position: fixed;
    width: 100%;
}

.modal .modal-content {
    width: auto;
    background: none;
    border: none;
}

body.modal-open {
    position: inherit;
}

/* SPECIAL MODALS */
.login-form a {
    font-style: italic;
    text-decoration: none;
    color: #a504ff;
}

/* CONFIRM MODAL COMPONENTS */
#confirmModal .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
#confirmModal .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

/* BET MODAL COMPONENTS */
.bet-header .league-name {
    font-weight: bold;
}

.bet-header .event-format {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.bet-preview {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #8800ff;

    background: linear-gradient(45deg,#1c6067, #512854, #4f1862, #342485, #1c6067);
    background-size: 200% 200%;
    animation: gradient 8s ease-in-out infinite;
}

.bet-preview .team-logo {
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(158, 158, 172, 0.5);
}

.bet-preview .team-logo img {
    width: 60px;
}

.bet-preview .date {
    color: white;
}

.bet-module {
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px;
    background-color: #4e5061;
}

.bet-outcome .outcome-name {
    color: #99c6ff;
}

.bet-module .odds {
    font-weight: bold;
    border-bottom: 2px solid #29864e;
}

#betModal input {
    background-color: #343a45;
}

#betModal .btn {
    background-color: rgba(54, 255, 134, 0.5);
}
#betModal .cancel.btn {
    background-color: rgba(200, 200, 200, 0.5);
}
#betModal .refund-bet.btn {
    background-color: rgba(255, 45, 65, 0.5);
}
#betModal .edit-bet.btn {
    background-color: rgba(45, 120, 255, 0.5);
}

.team-logo-flicker {
    animation: boxShadowFlick 3s infinite ease-in-out;
}

@keyframes boxShadowFlick {
    0%   {box-shadow: 0 0 5px 2px #00ff73;}
    25%  {box-shadow: 0 0 15px 2px #00ff73;}
    50%  {box-shadow: 0 0 25px 2px #00ff73;}
    75%  {box-shadow: 0 0 15px 2px #00ff73;}
    100% {box-shadow: 0 0 5px 2px #00ff73;}
}

.flip-box {
    background-color: transparent;
    perspective: 1000px; /* 3D effect */
}

.flip-box-inner {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-box-front,
.flip-box-back {
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
}

.flip-box-front {
    position: relative;
}
.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
}

.flip-box-back {
    transform: rotateY(180deg);
}

@media all and (max-width: 576px) {
    .bet-module,
    #betModal .btn-sm {
        font-size: 0.6rem;
    }

    #betModal .btn-sm {
        width: 80px;
    }
}
@media all and (min-width: 576px) and (max-width: 768px) {
    .bet-module,
    #betModal .btn-sm {
        font-size: 0.7rem;
    }

    #betModal .btn-sm {
        width: 100px;
    }
}
@media all and (min-width: 768px) {
    .bet-module,
    #betModal .btn-sm {
        font-size: 0.8rem;
    }

    #betModal .btn-sm {
        width: 100px;
    }
}

/* FLAGS */
.flag {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.5em;
    line-height: 1em;
}

.flag:before {
    content: "\00a0";
}

.flag-de {
    background-image: url(../assets/flags/de.svg);
}

.flag-gb {
    background-image: url(../assets/flags/gb.svg);
}

.flag-fr {
    background-image: url(../assets/flags/fr.svg);
}

.flag-ru {
    background-image: url(../assets/flags/ru.svg);
}

/* ADMIN PANEL */
/* Sidebar */
.sidebar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
    transition: ease-out 0.1s;
}

.sidebar-logo {
    max-width: 250px;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar {
        transition: none;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 100%;
        max-width: 350px;
    }
    /* Style page content */
    main {
        margin-left: 350px;
    }
}

.sidebar .nav {
    white-space: nowrap;
}

.sidebar .nav-item {
    margin-bottom: .2rem;
}

.sidebar .nav-item.active > .nav-link {
    color: #D1D5DB;
    background-color: #2e3650;
}

.sidebar .nav-item .nav-link {
    color: #D1D5DB;
    cursor: pointer;
}

.sidebar .nav-item .nav-link:hover {
    color: #D1D5DB;
    background-color: #2e3650;
}

.sidebar .nav-link + .multi-level {
    margin-top: .2rem;
}

.sidebar .nav-link {
    vertical-align: middle;
    padding: 0.55rem 0.75rem;
    border-radius: 1rem;
}

.sidebar .nav-link .sidebar-icon {
    margin-right: .5rem;
    color: #ffffff;
}

.sidebar .nav-link .sidebar-icon span {
    min-width: 22px;
}

.sidebar .nav-link .link-arrow {
    font-size: 0.9rem;
}

.sidebar .nav-link[data-bs-toggle=collapse][aria-expanded=true] .link-arrow {
    transform: rotate(90deg);
    transition: all 0.2s ease;
}

.sidebar .multi-level .nav-link {
    padding-left: 45px;
}

.sidebar .sidebar-text,
.sidebar .link-arrow,
.sidebar .badge,
.sidebar .notification-count {
    opacity: 1;
    transition: opacity 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar .sidebar-text,
    .sidebar .link-arrow,
    .sidebar .badge,
    .sidebar .notification-count {
        transition: none;
    }
}

.sidebar-inner {
    position: relative;
    overflow-y: hidden;
}
